{
    "server": {
        "host": "vaiwan.com",
        "port": 443,
        "bufsize": 1024
    },
    "client": [
        {
            "protocol": "http",
            "hostname": "tibet.vaiwan.com",
            "subdomain": "icrazybot",
            "rport": 0,
            "lhost": "127.0.0.1",
            "lport": 62789
        },
        {
            "protocol": "tcp",
            "hostname": "",
            "subdomain": "",
            "rport": 0,
            "lhost": "127.0.0.1",
            "lport": 22
        }
    ]
}
